<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>


    <style type="text/css">
        .hr1{
            border-top:5px dotted #724089;
            background-color:#ffffff;
        }
        .soul{
            text-decoration:none;
            text-decoration-color:#f08000;
            color:#f08000;
            border-bottom-color:#f08000;
            border-bottom-style:solid;
            border-bottom-width:1px;
        }
        .tb1{
            width:700px;
            background-color:#fff;
        }
        .tb2{
            width:235px;
            float:left;
        }
        .tb3{
            width:435px;
            float:left;
        }
        .img-rsp{
            width:60%;
        }
        .img-point1{
            width:235px;
        }
        .tri{
            display:inline-block;
            height:0;
            width:0;
            border-right:124px solid transparent;
            border-bottom:63px solid #fff;
            border-left:124px solid transparent;
        }
        @media screen and (max-width:580px){
            .tb1{
                width:100%;
                border:1px solid #222;
                background-color:#fff;
            }

        }	@media screen and (max-width:580px){
            .tb2{
                width:30%;
                float:left;
            }

        }	@media screen and (max-width:580px){
            .tb3{
                width:70%;
                float:left;
            }

        }	@media screen and (max-width:580px){
            .img-point1{
                width:100%;
            }

        }		#MessageViewBody a{
                     color:inherit;
                     text-decoration:none;
                     font-size:inherit;
                     font-family:inherit;
                     font-weight:inherit;
                     line-height:inherit;
                 }
        @media only screen and (max-width: 550px){
            table#canspamBar td{
                font-size:14px !important;
            }

        }	@media only screen and (max-width: 550px){
            table#canspamBar td a{
                display:block !important;
                margin-top:10px !important;
            }

        }</style></head>
<body>
<table border="0" cellpadding="0" cellspacing="0" align="center" width="700px" class="" style="width:700px;background-color:fff;">
    <tr>
        <td>
            <div style="text-align:center;width:700px;">
                <a style="text-decoration:none;color:#000000;" href="*|ARCHIVE|*">L'e-mail ne s'affiche pas correctement ? Afficher cet e-mail dans mon navigateur.</a>
                <br>
                <br>
            </div>
        </td>
    </tr>
</table>
<table border="0" cellpadding="50" cellspacing="0" align="center" width="700px" class="" style="width:700px;background-color:#EDF2F7;">
    <tr>
        <td>
            <table border="0" cellpadding="40" cellspacing="0" align="center" width="700px" class="" style="width:700px;background-color:#fff;">
                <tr>
                    <td style="padding:0;" align="left">
                        <img  align="left" class="img-rsp" style="width:20%;text-align:left;" src="https://www.webcom-agency.fr/emailing/toog/LOGO-TOOG.png" alt="logo-toog.png">
                    </td>
                </tr>
                <tr>
                    <td style="padding-top:0">
                            <p style="text-align:justify;color:#000058;font-size:16px;font-family:Arial; font-weight: bold;"> Bonjour {{ activity.centre.partenaire.firstname }} {{ activity.centre.partenaire.lastname }},</p>
                        <p style="text-align:justify;font-size:14px;font-family:Arial;">  L’activité<span style="font-weight:700;">  {{ activity.name }}</span> prévue le <span style="font-weight:700;">  {{ activity.date|date('d-m-Y') }}</span> à <span style="font-weight:700;"> {{ activity.hFrom|date('H') }}H:{{ activity.hFrom|date('i') }}</span> ne pourra pas avoir lieu. Vous n’avez pas validé le créneau ou le nombre minimum de participants pour faire l’activité n’a pas été atteint avant l’heure limite de réservation.

                        </p>
                        <p style="text-align:justify;font-size:14px;font-family:Arial;">Dans le cas où des participants auraient annulé au dernier moment causant l’annulation totale du créneau, vous recevrez <span style="font-weight:700;">100% du prix</span> payé.
                        </p>
                        <p style="text-align:justify;font-size:14px;font-family:Arial;"> Nous restons disponibles pour échanger et faire en sorte que cela ne se reproduise pas. Nous allons également nous renseigner sur les causes qui ont mené à cette situation.

                        </p>
                        <p style="text-align:justify;font-size:14px;font-family:Arial;font-weight:700;">Le point positif, c’est que votre créneau a été vu par +{{ random(10000,99999) }} utilisateurs ! Vous pouvez continuer de gagner en visibilité en proposant de nouveaux créneaux ! 🙏 👇
                        </p>
                        <a style="color:#fff;text-decoration:none !important;" target="_blanc" href="https://www.toog-app.com"><p style="margin: 0;text-align: center;font-family:Arial;width:220px;padding:10px;color:#fff;background-color:#30A3F2;font-size:16px;border-radius:20px;">Proposer une nouvelle activité</p></a>
                         <p style="text-align:justify;font-size:14px;font-family: Arial;font-weight:500">A très vite sur Toog,<br><br> <span style="font-weight:800">Marion de Toog</span><br> <span style="font-weight:800">06 89 75 25 74</span></p>

                    </td>
                </tr>
                <tr>
                    <td style="padding-top:0;padding-bottom:10;">
                        <table width="180px" cellpadding="0" cellspacing="5" >
                            <tr>
                                <td>
                                    <a href="https://www.facebook.com/toogfrance"> <img class="img-rsp" style="width:40%; padding: 10px;" src="https://www.webcom-agency.fr/emailing/toog/facebook.png" alt="facebook.png"></a>
                                </td>
                                <td>
                                    <a href="https://www.instagram.com/toog_france/"> <img class="img-rsp" style="width:40%; padding: 10px;" src="https://www.webcom-agency.fr/emailing/toog/instagram.png" alt="instagram.png"></a>
                                </td>
                                <td>
                                    <a href="https://twitter.com/Toog_France"> <img class="img-rsp" style="width:40%; padding: 10px;" src="https://www.webcom-agency.fr/emailing/toog/twitter.png" alt="twitter.png"></a>
                                </td>
                                <td>
                                    <a href="https://www.tiktok.com/@toog.france"> <img class="img-rsp" style="width:40%; padding: 10px;" src="https://www.webcom-agency.fr/emailing/toog/tiktok.png" alt="tiktok.png"></a>
                                </td>
                                <td>
                                    <a href="https://www.linkedin.com/company/toog-app/"> <img class="img-rsp" style="width:40%; padding: 10px;" src="https://www.webcom-agency.fr/emailing/toog/linkedin.png" alt="linkedin.png"></a>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>





            </table>
        </td>
    </tr>


</table>
</body>
</html>
